
<div id="footer" class="site-footer">
    <div class="footer-wrapper">
    
    <div class="wrapper footer-top-wrapper">
    <div class="c-col-3 sm-12">
    
    <div class="single-image" style="width: 100px">
    <img alt="Single Image" src="/img/logos/logow.png">
    </div>
    
    </div>
    <div class="c-col-6 sm-12">
    
    <div class="text-wrapper">
    <p class="text-h2">Talk with sales.
    <br><a href="#"><span class="__cf_email__" data-cfemail="4d25282121220d3d2839252820283e632e2220">[email&#160;protected]</span></a>
    </p>
    </div>
    
    </div>
    <div class="c-col-3 sm-6 hide-mobile">
    
    <div class="text-wrapper align-right">
    <p>Follow Us</p>
    </div>
    
    
    <ul class="menu text-h6 align-right">
    <li><a href="#.">Facebook</a></li>
    <li><a href="#.">Instagram</a></li>
    <li><a href="#.">Twitter</a></li>
    <li><a href="#.">Linkedin</a></li>
    <li><a href="#.">Vimeo</a></li>
    </ul>
    
    </div>
    </div>
    
    
    <div class="wrapper footer-bottom-wrapper">
    <div class="c-col-3 sm-12">
    
    <div class="text-wrapper">
        
    <p>© 
        <% 
    let date = new Date();
    yeardisp = date.getFullYear();

        %>
        <%- yeardisp  + "  " + (locals.appname ? appname : '') %></p>
    </div>
    
    </div>
    <div class="c-col-3 sm-12">
    
    <ul class="menu">
    <li><a href="/smarthome">Smarthome</a></li>
    <li><a href="/security">Securtiy</a></li>
    <li><a href="/electrical">Electricals</a></li>
    <li><a href="/renewable-energy">Renewable Energy</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Academy</a></li>
    </ul>
    
    </div>
    <div class="c-col-3 sm-6">
    
    <div class="text-wrapper no-margin">
    <p class="no-margin">42 West Street,
    <br>Apt 217,
    <br>Brooklyn New York 11201
    </p>
    </div>
    
    </div>
    <div class="c-col-3 sm-6">
    
    <div class="nayla-icon align-right scroll-button" data-scroll-to="0" style="--fontSize: 75px;--wgt: 300">
    <span class="material-icons">
    arrow_upward
    </span>
    </div>
    <p >Designed by <a href="https://evoocta.com" target="_blank">Evoocta</a></p>

    
    </div>
    </div>
    
    </div>
    </div>
    
    </div>
    
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/barba.min.js"></script>
    <script src="/js/gsap.js"></script>
    <script src="/js/scripts.js"></script>

    <script >
   document.addEventListener('DOMContentLoaded', function() {
  // Reset scroll position to top when a link is clicked
  document.querySelectorAll('a').forEach(function(link) {
    link.addEventListener('click', function() {
      window.scrollTo(0, 0);
    });
  });
});
    </script>
    </body>