<div id="site-navigation" class="fullscreen_menu fullscreen">
<div class="wrapper fullscreen-menu-wrapper">
<div class="c-col-3 hide-mobile self-center">

<ul class="menu" data-animation="linesUp">
<li><a href="#.">Talk With Sales</a></li>
<li><a href="#.">Contact Us</a></li>
<li><a href="#.">Academy</a></li>
</ul>

</div>
<div class="c-col-3 hide-mobile self-center">

<ul class="menu" data-animation="linesUp">
<li><a href="#">Facebook</a></li>
<li><a href="#">Instagram</a></li>
<li><a href="#">X</a></li>
</ul>

</div>
<div class="c-col-6 sm-12">

<ul class="menu main-menu">
<li><a href="/">Home</a></li>
<li><a href="/about-us">About Us</a></li>
<li><a href="/electrical">Electricals</a></li>
<li><a href="/smarthome">Smarthomes</a></li>
<li><a href="/renewable-energy">Renewable Energy</a></li>
<li><a href="/security">Security</a></li>
<li><a href="/blog">Blog</a></li>
</ul>

</div>

<div class="c-col-2 hide-mobile"></div>


<div class="fullscreen-menu-wrap-bottom">
<div class="c-col-3 hide-mobile has-anim maskDown" data-delay=".2">

<div class="nayla-video n-vimeo cursor-play play-lightbox" data-play="WATCH" data-controls="play progress mute fullscreen" data-autoplay="true" data-muted="true" data-loop="true">
<div class="n-video" data-plyr-provider="vimeo" data-plyr-embed-id="852811469"></div>
</div>

</div>

<div class="c-col-3 hide-mobile"> </div>

<div class="c-col-3 sm-12 has-anim fadeDown" data-delay=".4">

<div class="nayla-button underline icon-right" data-icon="arrow_outward">
<a href="#"><span class="__cf_email__" data-cfemail="08606d64646748786d7c606d656d7b266b6765">[email&#160;protected]</span></a>
</div>

</div>
<div class="c-col-3 sm-12 has-anim fadeDown" data-delay=".4">

<div class="nayla-button underline icon-right" data-icon="arrow_outward">
<a href="#">+44 852 748 45 12</a>
</div>

</div>
</div>

</div>
</div>
