<%- include('partials/header.ejs') %>



<main id="primary" class="site-main" data-barba="container">

    <div id="content" class="page-content">
    <div class="section">
    <div class="wrapper-full">
    <div class="c-col-9 sm-12">
    
    <div class="nayla-heading">
    <p class="text-h1 no-margin">Sophisticated Power solution, Security equipment installation and maintenance consultancy.</p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    </div>
    
    <div class="c-col-3 hide-mobile"></div>
    
    <div class="c-col-4 sm-12">
    
    <div class="text-wrapper">
    <p>PASSION FOR INNOVATION, SUSTAINABILITY, <br>AND TIMELESS AESTHETICS</p>
    </div>
    
    </div>
    <div class="c-col-6 sm-12">
    
    <div class="text-wrapper">
    <p>At Hiematech Systems, we pride ourselves on delivering a first-class electrician service to businesses.
         Whether you require a full electrical installation or an office lighting upgrade,
          our experienced technicians can provide expert solutions, tailored to the unique needs of your business. 
          We also offer a professional domestic service to thousands of households nationwide.
    </p>
    </div>
    
    </div>
    <div class="c-col-12">
    
    <div class="single-image">
    <img alt="Single Image" src="../img/hiematech.png">
    </div>
    
    </div>
    </div>
    <div class="wrapper-full">
    <div class="c-col-6 sm-12 no-margin">
    
    <div class="text-wrapper">
    <p class="text-h2 no-margin">WHO WE ARE?</p>
    </div>
    
    </div>
    <div class="c-col-3 sm-6 no-margin align-bottom">
    
    <div class="text-wrapper">
    <p>Founded 2017</p>
    </div>
    
    </div>
    <div class="c-col-3 sm-6 no-margin align-bottom">
    
    <div class="text-wrapper align-right">
    <p>(00 – 1)</p>
    </div>
    
    </div>
    
    <div class="nayla-divider"></div>
    
    <div class="c-col-4 sm-12">
    
    <div class="text-wrapper">
    <p class="text-h6">WE BELIEVE THAT TECHNOLOGY HAS THE POWER TO SHAPE LIVES AND UPLIFT COMMUNITIES.</p>
    </div>
    
    </div>
    
    <div class="c-col-2 hide-mobile"></div>
    
    <div class="c-col-6 sm-12">
    
    <div class="text-wrapper">
    <p>We provide sophisticated Power solution and Security equipment installation and maintenance consultancy. Today the company has an impressive list of experienced qualified engineers with a team of technicians that has been actively involved in the design of Electrical Systems, Solar systems, Electronic board, Panel Building, equipment installation and maintenance, both domestically and industrial within the country.
    </p>
    <p>The company is filled up with teams of relentless and dynamic engineers with technicians who are professionals in studying any project handled by our company, likewise interpretation of electrical drawings of any form i.e. civil, electrical e.t.c</p>
    <p>Hiematech Systems and Engineering Consultancy is an authorized Hikvision distributor and professional ICT company, with the aim of providing its clients with the most reliable, affordable and high tech Close Circuit TV (CCTV: IP/Wireless cameras), Solar/Inverters, Fire Alarm, Point of Sale Software, Hotel and School Management Software, Hotel RDIF Door locks/Cards, PABX/Intercom Systems, Access control, Time attendance and other Security/ IT equipments, that can support their operations effectively with less cost and risk.
    </p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    
    <div class="nayla-button align-center button-sm">
    <a href="#" class="outline fill" data-hover="all">
    Start a project
    </a>
    </div>
    
    </div>
    </div>
    <div class="wrapper-full">
    <div class="c-col-12">
    
    <div class="nayla-dynamic-carousel navDrag eq-height parallax-on" data-animation="slideUp" data-stagger="0.1" data-scroll-speed="3000" style="--h: 500px;--gap: 25px;">
    
    <div class="carousel--wrapper">
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/office_1.jpg">
    </div>
    </div>
    
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/office_2.jpg">
    </div>
    </div>
    
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/office_3_hor.jpg">
    </div>
    </div>
    
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/agency_1.jpg">
    </div>
    </div>
    
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/agency_2.jpg">
    </div>
    </div>
    
    
    <div class="carousel--item">
    <div class="single-image">
    <img alt="Single Image" src="../img/agency_6.jpg">
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    </div>
    <div class="wrapper-full">
    <div class="c-col-6 sm-12 no-margin">
    
    
    </div>
    
    </div>
    </div>
    </div>
    
    </main>
    
<%- include('partials/footer.ejs') %>
