<%- include('partials/header.ejs') %>
<main id="primary" class="site-main" data-barba="container">

<div id="content" class="page-content">
<div class="section fullscreen" style="padding-top: 150px">
<div class="wrapper">
<div class="c-col-6 sm-12">

<div class="text-wrapper">
<p class="text-h4 has-anim-text linesUp">Whether your goal is amazing interiors, 
    optimal visibility, or maximum productivity, you will find our electrical services enlightening..</p>
</div>


<span class="empty-space hide-mobile" style="height: 50px"></span>


<div class="nayla-button underline icon-right" data-icon="arrow_downward">
<a href="#">Scroll to Discover</a>
</div>

</div>

<div class="c-col-3 hide-mobile"></div>

<div class="c-col-3 sm-12">

<div class="single-image has-anim-image slideUp imgScale">
<img alt="Single Image" src="../img/lighbulb.gif">
</div>


<div class="text-wrapper">
<p class="text-h6">Light Up Your Space seemlessly.</p>
</div>

</div>
<div class="c-col-12 align-bottom has-anim slideUp">

<div class="nayla-marquee right-to-left" data-duration="7" data-seperator=" ">
<p class="big-title">How can we help you?</p>
</div>

</div>
</div>
</div>
<div class="section anim-bg light" style="background: #191919" id="sec1">
<div class="wrapper" style="height: 100vh" id="carouselPin">

<span class="empty-space" style="height: 50px"></span>

<div class="c-col-6 sm-12">

<div class="nayla-heading icon-left icon-fill" data-icon="fiber_manual_record">
<p>Why choose us?</p>
</div>


<span class="empty-space" style="height: 75px"></span>


<div class="text-wrapper">
<p class="text-h4">We are sleek and professional leveraging
    intelligent decisions and high-end
    technology to create high-quality
    experiences and the right outcomes every time.</p>
</div>

</div>

<div class="c-col-2 hide-mobile"></div>

<div class="c-col-4 sm-12 hide-mobile">

<div class="single-image has-anim-image slideUp imgScale">
<img alt="Single Image" src="../img/electrical.gif">
</div>

</div>
<div class="c-col-12 align-bottom">

<div class="nayla-dynamic-carousel navScroll eq-height parallax-on" data-animation="slideUp" data-stagger="0.1" data-scroll-speed="3000" data-pin="#carouselPin" style="--w: 30vw;--gap: 100px;">

<div class="carousel--wrapper">

<div class="carousel--item">

<div class="nayla-info-box">

<div class="info-box-top">

<div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
<span class="material-icons">
science
</span>
</div>

</div>


<div class="info-box-content">

<div class="text-wrapper">
<p class="text-h5">Electrical Safety </p>
<p style="color: #696969">Whether safeguarding against power surges or ensuring top-tier quality, we prioritize the safety of your residential, commercial, or industrial space. Trust us to provide the necessary measures and procedures to keep your home, office, or factory secure and protected at all times.</p>
</div>

</div>

</div>

</div>


<div class="carousel--item">

<div class="nayla-info-box">

<div class="info-box-top">

<div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
<span class="material-icons">
emoji_objects
</span>
</div>

</div>


<div class="info-box-content">

<div class="text-wrapper">
<p class="text-h5">Installation & Repairs </p>
<p style="color: #696969">Rely on our skilled team for all your electrical installation and repair requirements. 
    With expertise in a variety of services, we ensure efficient and reliable solutions for your home or business.
     Trust us to handle your electrical needs with professionalism and precision.</p>
</div>

</div>

</div>

</div>


<div class="carousel--item">

<div class="nayla-info-box">

<div class="info-box-top">

<div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
<span class="material-icons">
light_mode
</span>
</div>

</div>


<div class="info-box-content">

<div class="text-wrapper">
<p class="text-h5"> Light Design</p>
<p style="color: #696969">
    We enhance buildings with light, transforming their interiors and exteriors into stunning spaces. Our expertise illuminates every corner, creating a visually captivating environment that inspires and uplifts. Trust us to bring beauty and radiance to your building, inside and out.
</p>
</div>

</div>

</div>

</div>


<div class="carousel--item">

<div class="nayla-info-box">

<div class="info-box-top">

<div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
<span class="material-icons">
verified
</span>
</div>

</div>


<div class="info-box-content">

<div class="text-wrapper">
<p class="text-h5">Trained Professionals</p>
<p style="color: #696969">Our trusted, professional, and highly skilled electricians will work with you to design and install a lighting system that perfectly suits your needs and preferences, whether it's for your home or office.</p>
</div>

</div>

</div>

</div>


<div class="carousel--item">

<div class="nayla-info-box">

<div class="info-box-top">

<div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
<span class="material-icons">
handshake
</span>
</div>

</div>


<div class="info-box-content">

<div class="text-wrapper">
<p class="text-h5">World Class Process</p>
<p style="color: #696969">

    Experience prompt and reliable repairs/installations that get you up and running in no time. Our team of experts is dedicated to delivering top-notch solutions that exceed your expectations.</p>
</div>

</div>

</div>

</div>

</div>

</div>

</div>
</div>
<div class="wrapper">
<div class="c-col-3 sm-12 self-center">

<div class="nayla-heading icon-left icon-fill" data-icon="fiber_manual_record">
<!-- <p>Our Capabilities</p> -->
</div>

</div>
<div class="c-col-9 sm-12">

<div class="text-wrapper">
<p class="text-h1 has-anim-text linesMask" data-scrub="true">Your Safety first, We Have <br>You Covered</p>
</div>

</div>

<div class="c-col-3 hide-mobile"></div>

<div class="c-col-4 sm-12">

<div class="text-wrapper">
<p class="text-h6">We prioritize safety in electrical repairs, installations, and upgrades for homes and 
    businesses, ensuring secure and reliable solutions that protect you, 
    your property, and those you care about from the dangers of faulty electrical systems.</p>
</div>

</div>
</div>
<div class="wrapper-small">
<div class="c-col-6 sm-12">

<div class="single-image">
<img alt="Single Image" src="../img/electrical-box.png">
</div>

</div>

<div class="c-col-2 hide-mobile"></div>

<div class="c-col-4 sm-12 has-parallax">

<div class="single-image">
<img alt="Single Image" src="../img/electrical-sample.png">
</div>


<div class="text-wrapper">
<p>Experience prompt and reliable repairs/installations that get you up and running in no time. 
    Our team of experts is dedicated to delivering top-notch solutions that exceed your expectations.</p>
</div>

</div>
</div>
</div>
<div class="section">
<div class="wrapper">
<div class="c-col-4 sm-12">

<div class="nayla-heading">
<div class="nayla-heading icon-left icon-fill" data-icon="fiber_manual_record">
<p>Enabling Your Success</p>
</div>
</div>

</div>
<div class="c-col-4 sm-12">

<div class="nayla-heading">

<div class="text-wrapper">
<p class="text-h3">Highly trained professionals</p>
</div>


<div class="text-wrapper">
<p class="text-h6">Our trusted, professional, and highly skilled electricians will work with you to design and install a lighting system that perfectly suits your needs and preferences, whether it's for your home or office.

</p>
</div>

</div>

</div>
</div>

</div>
</div>

</main>
<%- include('partials/footer.ejs') %>
