<%- include("partials/header.ejs")  %>


<main id="primary" class="site-main" data-barba="container">

    <div id="content" class="page-content">
    <div class="section">
    <div class="wrapper-full">
    <div class="c-col-8 sm-12">
    
    <div class="nayla-heading">
    <p class="text-h1 no-margin">Harnessing The Power Of Nature To Give You a Better Experience.
       
    </p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    
    <div class="text-wrapper">
    <p>Meet your power needs using reliable and efficient energy.</p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    
    <div class="text-wrapper" style="width: 60%">
    <p>
        Our renewable energy technologies are paving the way towards a more sustainable and eco-friendly future.
        By utilizing the abundant resources provided by nature, we are reducing carbon emissions, 
        promoting energy independence, and preserving our planet for future generations. 
        Join in the movement towards a cleaner, more efficient energy system that benefits both 
        the environment and society as a whole. Together, we can make a difference and create a brighter tomorrow.
    </p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    
    <div class="nayla-button align-center button-sm">
    <a href="#" class="outline fill" data-hover="all">
    Discover our services
    </a>
    </div>
    
    </div>
    

    <div class="c-col-4 sm-12">
    
    <div class="single-image parallax-image">
    <img alt="Single Image" src="../img/energy.png">
    </div>
    
    </div>
    <div class="c-col-3"></div>
    </div>
    </div>
    <div class="section anim-bg light" style="background: #191919" id="sec1">
        <div class="wrapper" style="height: 100vh" id="carouselPin">
        
        <span class="empty-space" style="height: 50px"></span>
        
        <div class="c-col-6 sm-12">
        
        <div class="nayla-heading icon-left icon-fill" data-icon="fiber_manual_record">
        <p>Why choose us?</p>
        </div>
        
        
        <span class="empty-space" style="height: 75px"></span>
        
        
        <div class="text-wrapper">
        <p class="text-h4">
             We offer a wide range of solar solutions tailored to meet your unique needs,
              from installation and maintenance to financing and system monitoring.
            </p>
        </div>
        
        </div>
        
        <div class="c-col-2 hide-mobile"></div>
        
        <div class="c-col-4 sm-12 hide-mobile">
        
        <div class="single-image has-anim-image slideUp imgScale">
        <img alt="Single Image" src="../img/sunset_energy.png">
        </div>
        
        </div>
        <div class="c-col-12 align-bottom">
        
        <div class="nayla-dynamic-carousel navScroll eq-height parallax-on" data-animation="slideUp" data-stagger="0.1" data-scroll-speed="3000" data-pin="#carouselPin" style="--w: 30vw;--gap: 100px;">
        
        <div class="carousel--wrapper">
        
        <div class="carousel--item">
        
        <div class="nayla-info-box">
        
        <div class="info-box-top">
        
        <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
        <span class="material-icons">
        science
        </span>
        </div>
        
        </div>
        
        
        <div class="info-box-content">
        
        <div class="text-wrapper">
        <p class="text-h5">Solar PV installation</p>
        <p style="color: #696969">
            Our highly trained technicians are skilled at installing Solar Panels that can operate at peak performance for maximum energy provision.</p>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        
        <div class="carousel--item">
        
        <div class="nayla-info-box">
        
        <div class="info-box-top">
        
        <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
        <span class="material-icons">
        emoji_objects
        </span>
        </div>
        
        </div>
        
        
        <div class="info-box-content">
        
        <div class="text-wrapper">
        <p class="text-h5">Solar water<br/> pump</p>
        <p style="color: #696969">
            Harness the power of the sun to pump water sustainably. 
            Our solar water pump solutions provide reliable access to water without the need for traditional energy sources.</p>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        
        <div class="carousel--item">
        
        <div class="nayla-info-box">
        
        <div class="info-box-top">
        
        <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
        
        <span class="material-icons">
            verified
            </span>
        </div>
        
        </div>
        
        
        <div class="info-box-content">
        
        <div class="text-wrapper">
        <p class="text-h5">Solar water<br/> heater </p>
        <p style="color: #696969">
            Say goodbye to high energy bills with our solar water heaters. Enjoy hot water powered by renewable energy</p>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        
        <div class="carousel--item">
        
        <div class="nayla-info-box">
        
        <div class="info-box-top">
        
        <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
            <span class="material-icons">
                light_mode
                </span>
        </div>
        
        </div>
        
        
        <div class="info-box-content">
        
        <div class="text-wrapper">
        <p class="text-h5">Solar Street <br/>Lighting </p>
        <p style="color: #696969">Illuminate your streets with clean, renewable energy. Our solar street lighting solutions ensure safety and visibility while reducing environmental impact. </p>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        
        <div class="carousel--item">
        
        <div class="nayla-info-box">
        
        <div class="info-box-top">
        
        <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
        <span class="material-icons">
        handshake
        </span>
        </div>
        
        </div>
        
        
        <div class="info-box-content">
        
        <div class="text-wrapper">
        <p class="text-h5">Solar PV system </p>
        <p style="color: #696969">Protect your investment with our expert solar PV system maintenance services. </p>
        </div>
        
        </div>
        
        </div>
        
        </div>
        <div class="carousel--item">
        
            <div class="nayla-info-box">
            
            <div class="info-box-top">
            
            <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
            <span class="material-icons">
            handshake
            </span>
            </div>
            
            </div>
            
            
            <div class="info-box-content">
            
            <div class="text-wrapper">
            <p class="text-h5">Inverter <br/>solutions  </p>
            <p style="color: #696969">Optimize energy usage and enjoy an uninterrupted power supply with our inverters. </p>
            </div>
            
            </div>
            
            </div>
            
            </div>
      <div class="carousel--item">
        
                <div class="nayla-info-box">
                
                <div class="info-box-top">
                
                <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100;--color: #696969">
                <span class="material-icons">
                handshake
                </span>
                </div>
                
                </div>
                
                
                <div class="info-box-content">
                
                <div class="text-wrapper">
                <p class="text-h5">Solar-powered CCTV</p>
                <p style="color: #696969">Keep your premises secure with our solar-powered CCTV installation. Monitor your property efficiently while reducing dependence on grid power.</p>
                </div>
                
                </div>
                
                </div>
                
                </div>
        
        </div>
        
        </div>
        
        </div>
        </div>
        </div>

    
        <span class="empty-space" style="height: 75px"></span>

    
    <span class="empty-space" style="height: 75px"></span>
        <div class="wrapper">
            <div class="c-col-6 sm-12">
            
            <div class="text-wrapper">
            <p class="text-h2 has-anim-text wordsUp">
               
                 Let us be your trusted partner in harnessing the power of the sun for a brighter future.
            </p>
            </div>
            
            </div>
            
            <div class="c-col-2 hide-mobile"></div>
            
            <div class="c-col-4 sm-12">
            
            <div class="text-wrapper">
            <p class="text-h6 has-anim-text linesUp">
                We are your comprehensive solar partner, offering tailored solutions from installation to maintenance.
            </p>
            </div>
            
            </div>
            </div>
            <div class="wrapper">
            <div class="c-col-4 sm-12 has-parallax" data-parallax-direction="down" data-parallax-speed="15">
            
            <div class="nayla-info-box has-bg light" style="background: #191919;--height: 500px">
            
            <div class="info-box-top">
            <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100">
            <span class="material-icons">
            light_mode
            </span>
            </div>
            </div>
            
            
            <div class="info-box-content">
            
            <div class="text-wrapper">
            <p class="text-h5">Homes</p>
            <p style="color: #696969">
                Experience a unique living space with our renewable energy solutions<br/> With us, you get a home like no other. 
            </p>
            </div>
            
            </div>
            
            </div>
            
            </div>
            <div class="c-col-4 sm-12 has-anim slideUp">
            
            <div class="nayla-info-box has-bg light" style="background: #191919;--height: 500px">
            
            <div class="info-box-top">
            <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100">
            <span class="material-icons">
            verified
            </span>
            </div>
            </div>
            
            
            <div class="info-box-content">
            
            <div class="text-wrapper">
            <p class="text-h5">Business</p>
            <p style="color: #696969">Embrace renewable energy in your workplace for convenient and sustainable solutions. 
                By incorporating eco-friendly practices, you'll enjoy cost-effective benefits and a greener environment. Let us be your partner in harnessing renewable energy for a more efficient and environmentally-friendly workplace.</p>
            </div>
            
            </div>
            
            </div>
            
            </div>
            <div class="c-col-4 sm-12 has-parallax" data-parallax-direction="down" data-parallax-speed="15">
            
            <div class="nayla-info-box has-bg light" style="background: #191919;--height: 500px">
            
            <div class="info-box-top">
            <div class="nayla-icon" style="--fontSize: 70px;--wgt: 100">
            <span class="material-icons">
            emoji_objects
            </span>
            </div>
            </div>
            
            
            <div class="info-box-content">
            
            <div class="text-wrapper">
            <p class="text-h5">Industrial</p>
            <p style="color: #696969">As a trusted industry collaborator, we contribute to driving economic growth. Our steadfast commitment and expertise help propel businesses and industries towards success. Partner with us to advance the economy and achieve mutual prosperity.</p>
            </div>
            
            </div>
            
            </div>
            
            </div>
        </div>
        
   
    </main>
<%- include("partials/footer.ejs")  %>