<%- include('partials/header.ejs') %>

    <main id="primary" class="site-main" data-barba="container">

        <div id="content" class="page-content">
            <div class="section fullscreen light">
                <div class="section-background">

                    <div class="nayla-video n-vimeo no-interactions" data-controls="false" data-autoplay="true"
                        data-muted="true" data-loop="true" style="height: 100vh">
                        <div class="n-video" data-plyr-provider="vimeo" data-plyr-embed-id="942011867"></div>
                    </div>

                </div>
                <div class="wrapper">
                    <div class="c-col-12 align-bottom"></div>
                    <div class="c-col-10 sm-12 col-center self-center">
                        <div class="text-wrapper mobile-align-center">
                            <h1 class="no-margin md-title has-anim-text charsUp">Creating</h1>
                        </div>
                        <div class="text-wrapper mobile-align-center align-right">
                            <h1 class="no-margin md-title has-anim-text charsUp">Perfect Homes</h1>
                        </div>
                        <div class="text-wrapper mobile-align-center align-center">
                            <h1 class="no-margin md-title has-anim-text charsUp">&amp; Efficient Workplaces.</h1>
                        </div>
                    </div>
                    <div class="c-col-6 sm-12 mobile-align-center align-bottom">
                        <div class="nayla-button fill icon-right has-anim fadeUp"
                            style="background:#1c1f24; color: #191919" data-icon="arrow_outward">
                            <a href="#">Talk With Sales</a>
                        </div>
                        <span class="empty-space" style="height: 35px"></span>
                    </div>
                    <div class="c-col-2 hide-mobile"></div>
                    <div class="c-col-4 sm-12 sm-6 align-bottom mobile-align-center">
                        <div class="text-wrapper">
                            <p class="text-h6 has-anim-text wordsUp fade">Join the ranks of businesses and homes
                                leveraging
                                Hiematech's comprehensive suite of products.</p>
                        </div>
                        <span class="empty-space" style="height: 35px"></span>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="c-col-12">
                        <div class="text-wrapper">
                            <p>WHO WE ARE?</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="c-col-6 sm-12 self-center">
                        <div class="text-wrapper" style="--width: 90%">
                            <p class="text-h1">Live &amp; Work <br>On Your Own Terms.</p>
                            <p class="text-h6">We are a dynamic and innovative company committed to transforming your
                                business for the better. With a passion for excellence and a focus on personalized
                                solutions, we cater to the unique needs of each client, ensuring unparalleled success.
                            </p>
                        </div>
                        <span class="empty-space" style="height: 50px"></span>
                        <div class="nayla-button underline icon-right text-h6" data-icon="arrow_outward">
                            <a href="/about-us">About Us</a>
                        </div>
                    </div>
                    <div class="c-col-6 sm-12">

                        <div class="nayla-video n-vimeo no-interactions" data-controls="false" data-autoplay="true"
                            data-muted="true" data-loop="true">
                            <div class="n-video" data-plyr-provider="vimeo" data-plyr-embed-id="936449355"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="c-col-4 sm-12">
                        <div class="text-wrapper">
                            <p>WHAT WE CAPABLE TO DO?</p>
                        </div>
                    </div>
                    <div class="c-col-8 sm-12">
                        <div class="nayla-dynamic-list vertical text-h1" data-animation="linesMask" data-scrub="true">
                            <ul>
                                <li><a href="/smarthome">Smarthomes</a>
                                    <div class="list-image"><img src="/img/smarthomes.png"></div>
                                </li>
                                <li><a href="/electrical">Electricals</a>
                                    <div class="list-image"><img src="/img/electrical-thumb.png"></div>
                                </li>
                                <li><a href="/renewable-energy">Renewable Energy</a>
                                    <div class="list-image"><img src="/img/renewable-thumb.png"></div>
                                </li>
                                <li><a href="/security">Security</a>
                                    <div class="list-image"><img src="/img/security-thumb.png"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="c-col-6 sm-12 self-center">
                        <div class="text-wrapper">
                            <p class="text-h1 has-anim-text wordsUp">Our Partners <br>and Customers</p>
                        </div>
                        <div class="text-wrapper" style="--width: 50%">
                            <p>Our track record speaks for itself, with numerous success stories and satisfied clients
                                who have achieved remarkable results with our solutions.</p>
                        </div>
                    </div>
                    <div class="c-col-6 sm-12 self-center mobile-align-left align-right">
                        <div class="nayla-button underline icon-left text-h6" data-icon="arrow_forward">
                            <a href="#">Connect with us for come in.</a>
                        </div>
                    </div>
                    <div class="c-col-12">
                        <div class="nayla-clients-grid bordered col-5">
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_1_dark.png">
                                    <span class="client-caption">VOLT</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_2_dark.png">
                                    <span class="client-caption">HULK</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_3_dark.png">
                                    <span class="client-caption">CAPTAIN</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_6_dark.png">
                                    <span class="client-caption">ROSTER</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_4_dark.png">
                                    <span class="client-caption">75 GAMES</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_5_dark.png">
                                    <span class="client-caption">MATE</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_7_dark.png">
                                    <span class="client-caption">
                                        HIVA</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_8_dark.png">
                                    <span class="client-caption">CODE RED</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_9_dark.png">
                                    <span class="client-caption">TRAX</span>
                                </a>
                            </div>
                            <div class="client">
                                <a href="#.">
                                    <img src="/img/client_14_dark.png">
                                    <span class="client-caption">MAXIMUM</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section fullscreen light">
                <div class="section-background" style="height: 120vh">
                    <div class="single-image parallax-image" style="height: 100vh">
                        <img src="/img/hiematech_co.png">
                    </div>
                </div>
                <div class="wrapper-small no-margin">
                    <div class="c-col-8 sm-12 no-gap no-margin">
                        <span class="empty-space" style="height: 100px"></span>
                        <div class="text-wrapper">
                            <p class="text-h1 has-anim-text linesUp">
                                Live happier, safer and a more comfortable
                                life.
                            </p>
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="c-col-4 sm-12">
                        <div class="text-wrapper">
                            <p class="text-h6">OUR VALUES
                            </p>
                        </div>
                    </div>
                    <div class="c-col-8 sm-12">
                        <div class="text-wrapper">
                            <p class="text-h3 has-anim-text linesUp">
                                Seamless Technological Integrations for your household or business.
                            </p>
                        </div>
                        <div class="single-image has-anim-image slideDown">
                            <img src="/img/Solar_fixing_panels.jpeg">
                        </div>
                        <div class="text-wrapper">
                           
                            <p class="text-h5">We have demonstrated our ability to offer world-class services over the years. 
                                We achieved this by adhering to global standards in procuring, installing, and maintaining
                                 state-of-the-art technologies</p>
                        </div>
                        <span class="empty-space" style="height: 100px"></span>
                       
                        
                    </div>
                    <span class="empty-space" style="height: 100px"></span>
                    <div class="c-col-12">
                        <div class="nayla-marquee right-to-left" data-duration="7"
                            data-seperator=" fiber_manual_record">
                            <p class="text-h1">PRESTIGE &AMP; WORLD CLASS SERVICES
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section anim-bg light" style="background: #1c1f24">
                <div class="wrapper">
                    <div class="c-col-10 sm-12">
                        <div class="text-wrapper">
                            <p class="text-h1 no-margin has-anim-text wordsUp">
                                On a mission to help 
                           
                            </p>
                        </div>
                    </div>
                    <div class="c-col-12">
                        <div class="nayla-divider detect-pov"></div>
                    </div>
                    <div class="c-col-4 sm-12 self-center">
                        <div class="text-wrapper">
                            <h3>build smart communities</h3>
                            <p> with reliable world-class energy and safety by demonstrating expertise 
                                and global standard
                                service delivery in procurement, installation and maintenance of state-of-the-art technologies.
                            </p>
                        </div>
                        <span class="empty-space" style="height: 50px"></span>
                        <div class="nayla-button underline icon-right text-h6" data-icon="arrow_outward">
                            <a href="#">What we can do?</a>
                        </div>
                        <span class="empty-space" style="height: 50px"></span>
                        <div class="text-wrapper">
                            <p class="text-h1 has-anim-text charsUp">1995
                            </p>
                        </div>
                    </div>
                    <div class="c-col-2 hide-mobile"></div>
                    <div class="c-col-6 sm-12">
                        <div class="single-image">
                            <img src="/img/1smart.avif">
                        </div>
                    </div>
                </div>
                <div class="wrapper-full no-gap">
                    <div class="c-col-12 no-gap">
                        <div class="single-image parallax-image" style="height: 100vh">
                            <img src="/img/smartcover-home.png">
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="c-col-6 sm-12">
                        <div class="text-wrapper">
                            <p class="text-h1 no-margin has-anim-text wordsUp">Ready to take your business to the next
                                level?
                            </p>
                        </div>
                    </div>
                    <div class="c-col-6 sm-12 align-bottom align-right">
                        <div class="nayla-button underline icon-right text-h6" data-icon="arrow_outward">
                            <a href="#">Explore the services.</a>
                        </div>
                    </div>
                    <div class="c-col-12">
                        <div class="nayla-divider detect-pov" style="width: 100%"></div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="c-col-6 pinned sm-12" data-pin="#pin1">
                        <div class="text-wrapper">
                            <p class="text-h6">KEY OFFERINGS
                            </p>
                        </div>
                    </div>
                    <div class="c-col-6 sm-12" id="pin1">

                        <div class="nayla-accordion" data-duration="0.5" data-animation="wordsUp"
                            data-toggle-icon="add">
                            <ul class="accordion-wrap">
                                <li class="accordion-item">
                                    <div class="accordion-title text-h4">Smart Technologies</div>
                                    <div class="accordion-content">
                                        <p class="text-h6">A smart home utilizes internet-connected devices to automate and enhance 
                                            the homeowner's lifestyle. These devices, such as thermostats and security cameras, can 
                                            be controlled remotely through a smartphone or voice commands, offering convenience, energy efficiency,
                                             and enhanced security. By streamlining daily tasks and providing real-time monitoring, 
                                             a smart home creates a more connected and efficient living environment.</p>
                                    </div>
                                    
                                </li>
                                <li class="accordion-item">
                                    <div class="accordion-title text-h4">Renewable Energy</div>
                                    <div class="accordion-content">
                                        <p class="text-h6">Renewable energy is the future of sustainable power generation, 
                                            harnessing natural resources like sunlight, wind, and water to produce clean 
                                            electricity. Empowering communities with environmentally friendly solutions, 
                                            renewable energy offers a path towards reducing our carbon footprint and 
                                            combatting climate change. Join us in the transition to a greener future with 
                                            innovative technologies and a commitment to preserving our planet for future 
                                            generations. Together, we can create a world powered by renewable energy, 
                                            where clean, renewable sources provide reliable and affordable energy for all.</p>
                                    </div>
                                    
                                </li>
                                <li class="accordion-item">
                                    <div class="accordion-title text-h4">Electrical Engineering</div>
                                    <div class="accordion-content">
                                        <p class="text-h6">
                                            Electrical engineering as a vital service that involves designing, developing, 
                                            and maintaining electrical systems to ensure efficiency, safety, and reliability. 
                                            As a client, you can benefit from the expertise of our electrical engineers in a variety of ways,
                                             including the design and installation of electrical systems, troubleshooting and repair of electrical 
                                             components, and ensuring compliance with industry regulations and standards. 
                                             By utilizing our electrical services, you can optimize the performance of your electrical 
                                             infrastructure, minimize downtime, and enhance the overall safety and functionality of your systems.
                                        </p>
                                    </div>
                                    
                                </li>
                                <li class="accordion-item">
                                    <div class="accordion-title text-h4">Security Systems</div>
                                    <div class="accordion-content">
                                        <p class="text-h6">
                                            Security systems encompass a range of technologies and measures designed to protect our esteemed clients and their 
                                            properties from a variety of threats, such as theft, vandalism, and unauthorized access. 
                                            These systems often include surveillance cameras, motion detectors, alarms, and access 
                                            control mechanisms. The primary objective of security systems is to deter potential threats, detect suspicious activities, and provide timely alerts or responses to minimize risks and prevent security breaches. By combining technological solutions with well-defined protocols and practices, security systems play a crucial role in maintaining safety and peace of mind in various environments, from homes and businesses to public spaces and critical infrastructure.
                                        </p>
                                    </div>
                                
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="c-col-8 sm-12">
                        <div class="text-wrapper">
                            <p class="text-h2">World-class technology, exclusive service and best-in-class support, any time.</p>
                        </div>
                        <div class="nayla-button underline icon-right text-h6" data-icon="arrow_outward">
                            <a href="#">Talk with Sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <%- include("partials/footer.ejs") %>