<%- include("partials/header.ejs") %>

<main id="primary" class="site-main" data-barba="container">

    <div id="content" class="page-content">
    <div class="section">
    <div class="wrapper-full">
    <div class="c-col-9 sm-12">
    
    <div class="nayla-heading">
    <p class="text-h1 no-margin">SECURE WHAT MATTERS THE MOST</p>
    </div>
    
    
    <span class="empty-space hide-mobile" style="height: 35px"></span>
    
    </div>
    
    <div class="c-col-3 hide-mobile"></div>
    
    <div class="c-col-4 sm-12">
    
    <div class="text-wrapper">
    <p>WE ARE SLEEK AND PROFESSIONAL LEVERAGING INTELLIGENT DECISIONS AND HIGH-END TECHNOLOGY TO CREATE
        HIGH-QUALITY EXPERIENCES AND THE RIGHT OUTCOMES EVERY TIME.</p>
    </div>
    
    </div>
    <div class="c-col-6 sm-12">
    
    <div class="text-wrapper">
    <p> From anti-climb fences, motorized gate to CCTV we offer a range of security 
        products to keep your property and loved ones safe</p>
    </div>
    
    </div>
    <div class="c-col-12">
    
    <div class="single-image">
    <img alt="Single Image" src="/img/smartcover-home.png">
    </div>
    
    </div>
    </div>
    <div id="sec1" class="section light anim-bg" style="background: #191919">
        <div class="wrapper">
        <div class="c-col-4 sm-12">
        <div class="text-wrapper">
        <h2 class="has-anim-text charsUp fade" data-scrub="true"> Security Products That Deliver Peace of Mind.</h2>
        </div>
        </div>
        <div class="c-col-4 hide-mobile"></div>
        <div class="c-col-4 sm-12">
        <div class="text-wrapper">
        <p>We are dynamic and resourceful, boldly satisfying needs and conquering problems
            with expert knowledge, a capable
            workforce, relevant partnerships and extensive access to up-to-date information.</p>
        </div>
        </div>
        </div>
        
        </div>
        <div class="section">
            <div class="wrapper">
            <div class="c-col-6 sm-12">
            
            
            </div>
            <div class="c-col-6 sm-12 align-right mobile-align-left">
            
            <div class="nayla-button underline icon-right" data-icon="arrow_outward">
           
            </div>
            
            </div>
            <div class="c-col-12">
            <div class="nayla-posts-grid grid-col">
            <div class="grid--filters text-h5">
           
            </div>
            
            
            <div class="grid--posts">
            
            <div class="grid--post--item cat_events">
            
                <div class="single-blog-post has-anim fadeUp">
                <a class="cursor-text" data-cursor-text="READ" href="#">
                
                <div class="single-post-image">
                <img alt="Single Post Image" src="img/peripherial.png">
                </div>
                
                </a>
                
                <div class="post-details">
                
                <div class="post-meta">
                <div class="post-date">Peripheral Security Systems  (Electric, Sensing, and Electronic) 
 </div>
                </div>
                
                
                <div class="post-title text-h6">Our perimeter security system provides a strong first point of defense.</div>
                
                
                
                </div>
                
                </div>
                
                </div>
            <div class="grid--post--item cat_events">
            
            <div class="single-blog-post has-anim fadeUp">
            <a class="cursor-text" data-cursor-text="READ" href="https://naylahtml.pethemes.com/single-post.html">
            
            <div class="single-post-image">
            <img alt="Single Post Image" src="img/smartcctv.png">
            </div>
            
            </a>
            
            <div class="post-details">
            
            <div class="post-meta">
            <div class="post-date">Smart CCTV Surveillance </div>
            </div>
            
            
            <div class="post-title text-h6">we install & maintain high-resolution CCTV
                solutions with quality images and accurate identification.</div>
            
            </div>
            
            </div>
            
            </div>
            <div class="grid--post--item cat_news">
            
            <div class="single-blog-post has-anim fadeUp">
            <a class="cursor-text" data-cursor-text="READ" href="#">
            
            <div class="single-post-image">
            <img alt="Single Post Image" src="img/alarm.png">
            </div>
            
            </a>
            
            <div class="post-details">
            
            <div class="post-meta">
            <div class="post-date">Alarm Monitoring System</div>
            </div>
            
            
            <div class="post-title text-h5">Get Lifesaving alerts at home or the office. </div>
            
            
            </div>
            
            </div>
            
            </div>
            <div class="grid--post--item cat_media">
            
            <div class="single-blog-post has-anim fadeUp">
            <a class="cursor-text" data-cursor-text="READ" href="#">
            
            <div class="single-post-image">
            <img alt="Single Post Image" src="img/antiwall.png">
            </div>
            
            </a>
            
            <div class="post-details">
            
            <div class="post-meta">
            <div class="post-date">Anti-Clim Security System</div>
            </div>
            
            
            <div class="post-title text-h5"> Our anti-climb system provides both a strong visual deterrent and serves as a non-harmful security measure to stop unwanted intruders.</div>
            
            
            
            </div>
            
            </div>
            
            </div>
            <div class="grid--post--item cat_media">
            
            <div class="single-blog-post has-anim fadeUp">
            <a class="cursor-text" data-cursor-text="READ" href="#">
            
            <div class="single-post-image">
            <img alt="Single Post Image" src="img/motorisedgate.png">
            </div>
            
            </a>
            
            <div class="post-details">
            
            <div class="post-meta">
            <div class="post-date">Motorized Gate </div>
            </div>
            
            
            <div class="post-title text-h5">Access your home/office with ease without needing to hire a GateKepper. Move in and out with ease while ensuring that your building is secure.</div>
            
            
            </div>
            
            </div>
            
            </div>
            
            </div>

</div>
</div>
</div>
</div>
    </div>
    </div>
    
    
    </main>
<%- include("partials/footer.ejs") %>