<%- include('partials/header.ejs') %>



<main id="primary" class="site-main" data-barba="container">

    <div id="content" class="page-content">
    <div class="section">
    <div class="wrapper">
    <div class="c-col-12">
    <div class="text-wrapper align-center">
    <h1 class="has-anim-text charsUp">Best Of Both Worlds</h1>
    </div>
    <div class="text-wrapper align-center" style="--width: 75%;--mobileWidth: 100%">
    <p class="text-h4 has-anim-text wordsUp">  Our smart home solution is modern, cost-efficient, and Aesthetically pleasing.</p>
    </div>
    </div>
    </div>
    <div class="wrapper-small">
    <div class="c-col-6 sm-12 has-anim slideUp ">
    <div class="single-image has-parallax" data-parallax-speed="40">
    <img src="img/smartbutton.png">
    </div>
    </div>
    <div class="c-col-6 sm-12 has-anim slideUp">
    <span class="empty-space" style="height: 100px"></span>
    <div class="single-image has-parallax" data-parallax-direction="down" data-parallax-speed="35">
    <img src="img/app_2.png">
    </div>
    </div>
    </div>
    <div class="wrapper-small">
    <div class="c-col-8 sm-12 col-center">
    <div class="text-wrapper">
    <p class="text-h5">For people and organisations who value reliable energy and technology-enhanced experiences,
        Heimatech Systems is the only energy and smart technology solutions provider that provides
        world-class technology products, professional service delivery and best-in-class customer
        support all together in an exclusive experience.</p>
    </div>
    </div>
    </div>
    </div>
    <div id="animPin" class="section fullscreen">
    <div class="section-background">
    
    <div class="nayla-video no-interactions" data-controls="false">
    <video autoplay playsinline muted loop style="height: 100vh" class="n-video">
    <source src="img/app_vid_5.mp4">
    </video>
    </div>
    
    </div>
    <div class="wrapper">
    <div class="c-col-8 sm-12 col-center self-center">
    <div class="text-wrapper align-center " data-pin="true" data-scrub="true">
    <p class="text-h2 wordsUp has-anim-text fade" data-pin="true" data-trigger="#animPin" style="color: #fff">
        We are dynamic and resourceful, boldly satisfying needs and conquering problems
        with expert knowledge, a capable
        workforce, relevant partnerships and extensive access to up-to-date information.
    </p>
    </div>
    </div>
    </div>
    </div>
    <div class="section">
    <div class="wrapper-small">
    <div class="c-col-12">
    <div class="text-wrapper">
    <p class="text-h6">DO MORE WITH LESS</p>
    <p class="md-title has-anim-text charsUp">Smart Appliances</p>
    </div>
    </div>
    <div class="c-col-6 hide-mobile"></div>
    <div class="c-col-6 sm-12">
    <div class="text-wrapper">
    <p class="text-h5 has-anim-text wordsUp">
        Our Smarthome system supports various Smart Appliances like Smart Fan, Smart Kitchens, Smart Water Sensors, 
        Smart Lights, Smart Thermometer/Hygrometer, etc.
    </p>
    </div>
    </div>
    </div>
    <div class="wrapper">
    <div class="c-col-2 sm-12">
    <div class="text-wrapper has-anim fadeUp">
        <p class="text-h6">Intuitive Software
        </p>
    <p>By leveraging first class Apps - We work to make your smart home accessible from your devices or through automation. 
        Anytime. Anywhere. </p>
    </div>
    </div>
    <div class="c-col-8 sm-12">
    <div class="single-image">
    <img src="img/smarthome_contrl.png">
    </div>
    </div>
    <div class="c-col-2 sm-12 align-bottom">
    <div class="text-wrapper has-anim fadeUp"> 
        <p class="text-h6">Run Your Home From Your Fingertips</p>
    <p>Keep tabs on your home at all times. We provide you with complete control of your 
        home and your belongings even while you’re away.</p>
    </div>
    </div>
    <div class="c-col-8 sm-12 col-center sm-12">
    <span class="empty-space" style="height: 100px"></span>
    <div class="text-wrapper align-center">
    <p class="text-h4 has-anim-text wordsUp"><strong>Safer home for your loved ones</strong><br/>

        There is no need to worry if you forget to put off an appliance or discover a home hazard too late. 
        Easily assess the state of things or get notifications if anything is going wrong. </p>

<div class="nayla-button underline icon-right text-h4" data-icon="arrow_downward">
    <a href="#">Talk with sales</a>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    
    <div class="section no-margin light" style="background: #000">
    <div class="section-background fixed-bg">
    
    <div class="nayla-video no-interactions" data-controls="false">
    <video autoplay playsinline muted loop class="n-video" style="height: 100vh">
    <source src="img/app_vid_6.mp4">
    </video>
    </div>
    
    </div>
    <div class="wrapper no-margin">
    <div class="c-col-4 sm-12">
    
    <div class="nayla-info-box">

    
    
    
    
    </div>
    
    <span class="empty-space" style="height: 75px"></span>
    
    
    
    <span class="empty-space" style="height: 75px"></span>
    
    
    
    <span class="empty-space" style="height: 75px"></span>
    
    
    
    <span class="empty-space" style="height: 75px"></span>
    
    
    
    <span class="empty-space" style="height: 75px"></span>
    </div>
    <span class="empty-space" style="height: 145px"></span>
    <div class="c-col-8 hide-mobile"></div>
    </div>
    </div>
    
    </div>
    
    </main>
    
<%- include('partials/footer.ejs') %>
